[Unit]
Description=ASGI application-server instance to serve steward
After=network.target

[Service]
User=aulonsal
Group=caddy
WorkingDirectory={{ steward_working_directory }}
ExecStart=poetry run python run_prod.py

[Install]
WantedBy=multi-user.target
